    font {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    body {
        background-color: rgb(167, 241, 241);

    }

    main {
        background-color: rgb(169, 236, 189);
        width: 500px;
        margin: auto;
        box-shadow: 5px;
    }